.carusalStyle{
    margin-top: 78px;
    background-color: rgb(59, 59, 59);
    color: white;
}
.bannerImage{
    width: 100%;
    height: 400px;
    margin: 4px;
   
    display: contents;
}

 @media only screen and (min-width:689px) and (max-width: 991px){
    .bannerImage{
        width: 90%;
        display: contents;
      
    }
}
@media only screen and (min-width:992px) and (max-width: 1200px){
    .bannerImage{
        width:80%;
        display: contents;
       
    }
    .carusalBox{
        padding: 30px;
        margin-left:50px ;
    }
}  
