.navbar{
    background-color: #4d148C;
}

.logo-style{
    font-size: 40px;   
    font-weight: 800;  
    
}
.log-name{
    color: white;
}
.log-name-end{
    color: orange;
}
.name{
    color: white;
    
    
}
.toggle {
    background-color: white;
    color: black;
}
Nav a{
    text-decoration: none;
    color: white; 
    margin-left: 30px;
    padding: 10px;
}
Nav a:hover{
    color: white;
}
.nav-style{
    font-size: 24px;   
    font-weight: 700; 
    
}

.main-btn {
    font-weight: 800;
    height: 50px;
    width: 120px;
    padding: 4px;
    background-color: orange ;
    color: white;
   
  
 }
.main-btn:hover {
   
    background-color:#021f2e;
    color:#fff;
  
 }
 .user-style{
     display:flex;
     color: white;  

 }
 .user-style img{
     width: 50px;
     height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    
 }