.admin-area {
    background: rgb(88, 88, 88);
    color: white;
    height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
  }
  /* .admin-menu {
    list-style: none;
    cursor: pointer;
  }
  .admin-menu:hover {
    color: orange;
  } */
  .dashboard-style {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 20px;
    margin: 10px;

  }
  .dashboard-style:hover{
    color: orange;
  }